
/**
	* @file genesis_webx.css
	* This stylesheet provides the main styles for this theme.
	*/

/**
	* Remove unused styles for performace.
	*/

/***********************************************************
 *                          Body
 **********************************************************/
body {
  background: #F5EDD6 url(images/bg_nav.png) left top repeat-x;
		color: #80724D;
}

body.admin-menu {
  margin-top: 0px !important;
}

/***********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
	* Be careful how you modify these, see layout.css first.
	*/
#header-nav   {height: 245px;}
#container    {}
#columns      {}
#content      {}
#main-content {}


/***********************************************************
 *                     Width Setting
 **********************************************************/
/**
	* Over ride the default width (80em - see layout.css).
	* 80 * 12 = 960px
	*
	* Genesis supports both Fluid and Fixed width values.
	*
	* For a Liquid layout use precentages, e.g
	* .width {width: 85%;}
	*
	* For Fixed width theme, use ems or pixels, e.g
	* .width {width: 960px;}
	* .width {width: 80em;}
	*/
.width {width: 80em;}


/***********************************************************
 *                       Regions
 **********************************************************/
#leaderboard       {}
#header-blocks     {}

#sidebar-left      {background: transparent;}
#sidebar-right     {background: transparent;}

#secondary-content {}
#tertiary-content  {}

#content-top       {}
#content-bottom    {}

#footer            {}


/***********************************************************
 *                   The INNER divs
 **********************************************************/
/**
	* In most instances you'll use these to set padding for 
	* the containing element.
	*
	* The default (see layout.css)
	* .inner {padding: 0.7em;}
	*
	* NOTE: You can over-ride the default .inner for nodes, blocks,
	* and comments using div.node-inner, div.block-inner & 
	* div.comment-inner which are listed in their relevant sections.
	*/
.inner         {padding: 0 0.375em;}
#content-inner {padding: 0 0.375em 0 0;}

.nav-inner {}
.primary-inner {}
.secondary-inner {}

.header-blocks-inner {}

#sidebar-left .inner  {}
#sidebar-right .inner {}

#secondary-content .inner {}
#tertiary-content .inner  {}


/***********************************************************
 *                 Global Link Styles
 **********************************************************/
a:link,
a:visited {color: #4D7480; text-decoration: none;}
a:hover,
a:active,
a.active  {color: #4D7480; text-decoration: underline;}


/***********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
	* Add any html elements you require. Use base.css as a guide.
	*/
h1   {}
h2   {}
h2 a {}
h3   {}
h3 a {}
p          {}
blockquote {}


/***********************************************************
 *                       Header 
 **********************************************************/
/**
	* Branding, Logo, Site name & Slogan.
	*/
/**
 * #header-nav is a wrapper around the header elements (such as
	* logo, site_name, primary and secondary links etc). Genesis will
	* print classes depending on what elements are active. This allows
	* you to set styles for your particular configuration. 
 */
#header-nav {}
#header-nav.with-header    {}
#header-nav.without-header {}
#header-nav.with-nav       {}
#header-nav.without-nav    {}

#header        {height: 140px;}
#header .inner {padding: 50px 0 0 0;}
#branding      {float: left; width: 600px; /* RTL */}
#logo          {float: left; width: auto; /* RTL */ }

h1#site-name,
div#site-name  { 
  font-family: Georgia, "Times New Roman", Times, serif; 
		font-style: italic; /* RTL */
		float: left; /* RTL */
		margin: 0.375em;
		padding: 0 0.5em;
		font-weight: bold;
		font-size: 2em ;
		line-height: 1.5;
}

#site-name a:link,
#site-name a:visited {color: #D5C8A4;}
#site-name a:hover   {text-decoration: none;}

#site-slogan   {
  font-size: 1em; 
		color: #F5EDD6;
		margin: 1.5em;
}


/***********************************************************
 *                        Search
 **********************************************************/
#search .form-submit  {}
#search-box-top       {float: right; /* RTL */}
#search-box-inner     {padding: 1.5em 0;}
#search-box-inner #edit-search-theme-form-1 {width: 240px;}
#search-box-inner #edit-search-theme-form-1:hover,
#search-box-inner #edit-search-theme-form-1:focus {}
#search-box-top label {display: none;}

/* Reset form element margins to allow more precise positioning */
#search-box-top form,
#search-box-top div.form-item {margin: 0;} 

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}


/***********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
	* Implimentation of Primary and Secondary Links.
	*/

/**
	* #nav is the containing div for Prmiary & Secondary Links.
	*/
#nav       {
  clear: both; 
		margin: 0;
}

#nav-inner {}

#nav.primary-secondary {}
#nav.with-primary      {}
#nav.with-secondary    {margin-top: 4.25em;}

/**
	* Primary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the primary links Right or Center.
	*/
/* Align Right */
/*
#primary .primary-inner {float: right;}
*/
/* Align Center */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Primary Links Styles
	*/
#primary { 
	 padding: 0;
	 background: transparent;
		font-weight: bold;
}

.primary-inner {margin-top: 0.1em;}

/* Modify the margin to positing the menu. */
#primary ul.links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary ul.links li {
		display: inline;
		list-style: none;
		line-height: 2;
		font-size: 1.5em;
		padding: 0;
		margin: 0 1.5em 0 0; /* RTL */
}

#primary ul.links li a {
		text-decoration: none;
		white-space: nowrap;
		color: #FFF;
}

#primary ul.links li a:hover,
#primary ul.links li a.active,
#primary ul.links li a.active-trail {text-decoration: none;}

/* Set unique active-trail styles */
/*#primary ul.links li a.active-trail {}*/

/**
	* Secondary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the secondary links Right or Center.
	*/

/* FLOAT SECONDARY RIGHT */
/*
#secondary .secondary-inner {float: right;}
*/

/* ALIGN SECONDARY CENTER */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Secondary Links Styles
	*/
#secondary { 
	 padding: 0;
	 background: transparent;
}

.secondary-inner {margin-top: 1.25em;}

/* Modify the margin to positing the menu. */
#secondary ul.links {
	 margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary ul.links li {
		display: inline;
		list-style: none;
		line-height: 2;
		font-size: 1.5em;
		padding: 0;
		margin: 0 1.5em 0 0; /* RTL */
}

#secondary ul.links li a {
		text-decoration: none;
		white-space: nowrap;
		font-weight: bold;
		color: #C8CED0;

}

#secondary ul.links li a:hover,
#secondary ul.links li a.active,
#secondary ul.links li a.active-trail {text-decoration: underline;}

/* Set unique active-trail styles */
/*#secondary ul.links li a.active-trail {}*/


/***********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
	* Genesis places the breadcrumb directly below the header, 
	* giving it the full width of theme to expand in to.
	*/
#breadcrumb {
  border-bottom: 1px dashed #D5C8A4;
  margin: 0 0 1.5em;
		padding-left: 0;
}
.breadcrumb {
  margin: 0;
  padding: 0 0 0.5em 0.375em;
}

#breadcrumb.with-nav {}
#breadcrumb.no-nav {}


/***********************************************************
 *                       Mission
 **********************************************************/
#mission {
  margin: 0 0 1.5em 0;
		padding: 0 0.375em;
		font-weight: bold;
}


/***********************************************************
 *                        Nodes
 **********************************************************/
/** 
	* Implimentation of node styles.
	*/
.node {
  margin: 0 0 0.75em 0; 
	 padding: 0 0 1.5em 0;
}


/* Over-ride default .inner styles. */
.node-inner {}

.node h2.node-title {}

.node h2 a:link,
.node h2 a:visited,
.node h2 a:active {
  text-decoration: none;
}

.node h2 a:hover {
  text-decoration: underline;
}

.node div.picture {
  float: left; /* RTL */
  margin: 0.3em 0.5em 0.1em 0; /* RTL */
}

.node div.submitted {
  color: #888;
	 margin: 0;	
}

.node .node-content {}

.node ul.links {
  display: block; 
	 text-align: right;
}

/* Theme the node teaser seperatly. */
.node-teaser {}

.node-teaser .node-inner {}

/* Colorize unpublised nodes for admins. */
.node-unpublished {
  background-color: #FFF4F4; 
 	padding: 0.2em;
}

.node div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.3em;
}

/* Theme Sticky nodes. */
.sticky {}

/* Theme node types. */
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {} 
 
/* Theme nodes that belong to the author. */
.node-mine {}


/***********************************************************
 *                       Blocks
 **********************************************************/
/** 
	* Implimentation of block styles.
	* Styles set here will be inherited by all blocks.
	*/
.block {
  padding: 0;
  margin: 0 0 1em;
  clear: both;
}

/* Over-ride default .inner styles. */
.block-inner {}

.block h2.block-title {  
  font-family: Georgia, "Times New Roman", Times, serif; 
		font-style: italic; /* RTL */
		color: #D5C8A4;
}

.block .block-content {
  padding: 0;
}

.block ul {}
.block ul li {}

.block ul.menu {}

.block ul.menu li {}

tr .block {
  border: none; /* Blocks page table. */
}

/**
	* Style an Individual Block
	*
	* If you need to modify the styles for a particular block, 
	* use the blocks ID, for example;
	* 
	* #block-block-1 {}
	*/

/**
	* Region Specific Block Styles
	*
	* You can target blocks in one or more regions and 
	* style them differently. 
	*
	* Use the first two examples as guide for all regions. 
	*/
#sidebar-left .block {}
#sidebar-left .block h2 {margin:0 0 -3px 1em; /* RTL */}
#sidebar-left .block-inner {}

#sidebar-left .block-padding {padding: 0.75em 0.375em 0 0;}

#sidebar-left .block .block-content {
  background: url(images/bl_bg_tl.png) left top no-repeat;
}

#sidebar-left .block .content-inner-1 {
  background: url(images/bl_bg_tr.png) right top no-repeat;
}

#sidebar-left .block .bg-bottom {
  background: url(images/bl_bg_br.png) right bottom no-repeat;
		height: 12px; 
		display: block;
}

#sidebar-left .block .bg-bottom span {
  background: url(images/bl_bg_bl.png) left bottom no-repeat;
		height: 12px; 
		display: block;
}

#sidebar-left .block ul li {list-style-image: none; list-style: none;}

#sidebar-left .block form {margin: 0 0 0 1em;}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

#sidebar-right .block ul li {list-style-image: none; list-style: disc;}

#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
	* Block Odd & Even Styles (Zebra)
	* Each region can have alternating styles for Odd and Even 
	* count blocks, such as;
	*/
#sidebar-left .odd   {}
#sidebar-left .even  {}

#sidebar-right .odd  {}
#sidebar-right .even {}

/**
	* Alternative Approach to Region Block Styling
	*
	* Blocks are aware of what region they are in, so its
	* possible to use chained selectors such as;
	*
	* .block.odd.right {}
	*/

/**
	* Drupal Core Blocks 
	* This is most of the core blocks as far as I can remember, 
	* please post an issue if I have missed any :)
	*/
#block-system-0  {} /* Powered by Drupal block */
 
#block-user-0    {} /* Login block             */
#block-user-1    {} /* Navigation Menu block   */
#block-user-2    {} /* Who's New block         */
#block-user-3    {} /* Who's Online block      */

#block-comment-0 {} /* Recent Comments block   */

#block-search-0  {} /* Search form block       */

#block-forum-0   {} /* Active Forum topics     */
#block-forum-1   {} /* New Forum topics        */

#block-blog-0    {} /* Recent Blog posts       */

#block-node-0    {} /* Syndicate block         */

#block-locale-0  {} /* Language Switcher block */

/* The class selector applies to all blocks of these types */
.block-book {} 
.block-aggregator {}


/***********************************************************
 *                     Comments
 **********************************************************/
	
#comments {background: #F9F3E3; padding: 0.375em;}
/** 
	* Implimentation of comment styles.
	*/
div.comment {
  margin: 0 0 0.375em 0;
	 padding: 0.375em; 
}

/* Over-ride default .inner styles. */
.comment-inner {}

div.indented {
  margin-left: 2em;
}

div.comment h3.comment-title {
	 margin-bottom: 0;
}

h3#comment-number {
  margin-top: 1.5em;
}

div.comment h3.title a:link,
div.comment h3.title a:visited,
div.comment h3.title a:active {
  text-decoration: none;
}

div.comment h3.title a:hover {
  text-decoration: underline;
}

div.comment .picture {
  float: right; 
	 margin: 0.3em 0 0.1em 0.3em;
}

div.comment .picture img {
	padding: 0;
}

div.comment .submitted {
	 margin: 0;
}

div.comment .comment-content {}

div.comment .links {
	 text-align: right; 
	 clear: both;
}

/* Zebra styles for comments. */
div.comment.odd  {}
div.comment.even {}

/* Style comments depending on the comment author. */
div.comment.comment-by-author {}
div.comment.comment-by-anon   {}
div.comment.comment-mine      {}


/***********************************************************
 *                     Forum
 **********************************************************/
#forum table {}
#forum tr td.forum {}
#forum div.indent  {}

#forum tr td.forum .name {padding-left: 0.375em;}


/***********************************************************
 *                     Books
 **********************************************************/
/** 
	* Book navigation styles to get you started.
	*/
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}


/***********************************************************
 *                    Polls
 **********************************************************/
.poll .text {}
.poll .bar {background: #DFD8C3 ;} /*poll bar background */
.poll .bar .foreground {background: #3A5861 url(images/bg_poll_bar.png) left center repeat-x;}
.poll .links   {}
.poll .percent {}
.poll .total   {}
.poll .vote-form {}


/***********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search*/
.section-search .box {}
.section-search .box-inner {}
.section-search .box h2.box-title    {}

/* Comment form on a seperate page */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box h2.box-title    {}

/* Comment form below content */
#comments .box {}
#comments .box-inner {}
#comments .box h2.box-title    {}

/* Generic box selectors */
.box {}
.box-inner {}
.box h2.box-title {}
.box .box-content {}
.box form         {}
.box .form-item   {}
.box fieldset     {}


/***********************************************************
 *               Footer, Footer Message
 **********************************************************/
/** 
	* Basic styles for the footer.
	*/
#foot-wrapper { 
  text-align: center;
	 margin: 0.375em 0;
	 padding: 0.75em;
}

#footer a, 
#footer-message a {
  padding: 0.375em;
}

/**
	* Attribution link 
	*/
p.attribution {margin: 0.2em 0; font-size: 0.9em;}
#footer-message p.attribution a {color: #D8CCA8;}
#footer-message p.attribution a:hover {color: #D8CCA8;}


/***********************************************************
 *                     Pager 
 **********************************************************/
.item-list ul.pager                   {}
.item-list ul.pager li                {}
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}

.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}
.item-list ul.pager li a:active  {}
.item-list ul.pager li a.active  {}


/***********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icon     {padding:0 0.5em;}
#feed-icon img {}
#feed-icon a.feed-icon {}


/***********************************************************
 *                    Tables
 **********************************************************/
/** 
	* The selector groupings are from Garland which offers a
	* sensible starting point for styling Drupal tables.
	*/
table        {}

table a      {}

thead th     {border-bottom:0.1875em solid #D5C8A4;}

th a:link, 
th a:visited {}

td, th       {}

tr.even,
tr.odd,
tbody th     {border-color: #D5C8A4;}

tr.odd, 
tr.info      {background-color: #F2E9CC;}

tr.even      {}

tr.drag      {}

tr.drag-previous {}

tr.odd td.active  {background-color: #EEE2BB;}

tr.even td.active {background-color: #F2E9CC;}

td.region, td.module, td.container td.category {
  background-color: #80724D;
  border-bottom: 1px solid #80724D;
  border-top: 1.5em solid #F5EDD6;
  color: #F5EDD6;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}

table.system-status-report th {
  border-bottom:1px solid #D5C8A4;
}


/***********************************************************
 *                   Form elements
 **********************************************************/
/**
	* Theming form elements can be an exercise in self-flagellation.
	* Lets let base.css & Drupal do the hard work and just set very 
	* basic over-rides.
	*/
fieldset {border: none;}
 
fieldset legend {}

html.js fieldset.collapsible legend a {}
html.js fieldset.collapsed legend a   {}

.tips {}

input.form-text, textarea {
  border:1px solid #75804D;
}

.resizable-textarea .grippie {
  background: #B3B270 url(../../misc/grippie.png) no-repeat scroll center 2px;
  border-color: #75804D;
}


/***********************************************************
 *                    Messages
 **********************************************************/
/**
	* Drupal + base.css do a good job of messages already, but
	* you can over-ride all of it. See the Genesis Darkmatter theme
	* as an example. 
	*/
div.messages.success {}

.status {}

.error    {}
div.error {}

.notice {}

div.help    {}
.help ul li {}

.warning    {}
div.warning, 
tr.warning  {}
div.warning {}

div.error, tr.error, 
span.form-required, span.marker {}

.ok    {}
div.ok {}
div.ok, tr.ok {}


/***********************************************************
 *                     Admin
 **********************************************************/
/**
	* <body> class to target most admin pages.
	*/
.section-admin {}

/**
	* Module page specific styles.
	*/
div.admin-dependencies, 
div.admin-required {}
span.admin-enabled {}
span.admin-disabled {}

/**
	* The region notices on the block admin page.
	*/
.block-region {}

/* Experimental workaround for the theme list page for narrow themes.
   When both sidebars are active, the left sidebar overlaps the theme list table,
			this forces the sidebars to be a set hight with scroll */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 240px; overflow: scroll;
}

/***********************************************************
 *                   Buttons
 **********************************************************/
button, 
.pushbutton, 
.form-submit,
#search .form-submit {
	background: #6C7647 url(images/button.png) repeat-x scroll center center;
	border:1px solid #6C7647;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	margin-bottom:1px;
	padding:2px 3px;
}

button:hover,
#search .form-submit:hover,
.pushbutton:hover,
.form-submit:hover {
	color: #FFF;
	border: solid 1px #6C7647;
	background: #6C7647 url(images/button_o.png) repeat-x center;
}